#grid_series {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  padding: 0px 50px 50px 50px;
  justify-items: center;
}

main {
  margin-top: 50px;
}

.filmes {
  text-align: center;
  font-weight: 1000;
  margin: 30px 0px 30px 0px;
}

h2 {
  text-align: center;
  margin: 10px;
}

.imagem {
  max-width: 100%;
  width: 18.5rem;
  height: 26.75rem;
  object-fit: cover;
}

.simbolos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
  justify-items: center;
}

.imagem:hover {
  transition: 0.5s;
  width: 20rem;
  height: 28.25rem;
  object-fit: fill;
}
